<ion-header>
  <ion-navbar>
     <ion-buttons end>
       <button icon-only ion-button>
           <ion-icon class="refresh" name="refresh" ></ion-icon>
       </button>
    <button icon-only ion-button (click)="onLoadAddUser()">
      <ion-icon name="add" class="add"></ion-icon>
    </button>    
    </ion-buttons>
    <ion-title>
      CRUD 
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


         <p>Listar Usuarios.</p>

        <ion-list *ngFor="let user of users">
           <ion-item-sliding>
                   <ion-item class="user">
                         <h1 *ngIf="nombre"> {{user.nombre}}</h1>
                         <p>{{user.email}}</p>
                   </ion-item>
                   <ion-item-options side="right">
                         <button ion-button color="danger" (click)="borrarUser(user)">
                               Borrar
                         </button>
                   </ion-item-options>
                   <ion-item-options side="left">
                         <button ion-button color="secondary" (click)="editarUser(user)">
                               Editar
                         </button>
                   </ion-item-options>
              </ion-item-sliding>
        </ion-list>

</ion-content>
