.toolbar-background {
  background-color: dodgerblue;


}

.toolbar-title{
    color:#fff;
    font-weight:normal;
}

.add{
color:#fff;

}  

.refresh{
  color:#fff;
}

.user:hover{
 background:#f2f2f2;
}